html, body, div, span, ul, li {
	margin: 0;
    padding: 0;
}

.body {
    background-image: url("../img/aaa.png");
    border-top: 7px solid #7CC0CB;
}

#wrap {
    margin: 0 auto;
    
    
    width: 960px;
}

a:link, a:hover, a:active, a:visited, a:focus {
    outline: 0 none;
    text-decoration: none;
}

article, footer, header, nav, section {
    display: block;
}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}