
h5.create_date {
	
	display: block;
	margin: 9px 9px;
/* 	margin-left: 15px;
	margin-bottom: 20px;
	float: left; */
	
}

h5.create_time {
/* 	margin-right: 15px;
	margin-bottom: 20px;
	float: right; */
	display: block;
	margin: 0 9px;
	
}

h4.user_name {
	float:right;
	margin: 12px 9px;
	
}

article img {
	display: block;
	
	margin: 0 auto;
}

article hr {
	margin: 13px 0;
	clear: both;
	visibility: hidden;
}
