<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 	<context:annotation-config /> -->
	<context:component-scan base-package="cn.edu.tongji.sse"/>


	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/TestDB" />
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="cn.edu.tongji.sse.model" />
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">
					true
				</prop>
			</props>
		</property>

	</bean>

	
	<bean id="userDAO" class="cn.edu.tongji.sse.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
			
	</bean>

	<bean id="shopDAO" class="cn.edu.tongji.sse.dao.ShopDao">
		<property name="sessionFactory" ref="sessionFactory" />
			
	</bean>
	
	<bean id="taskDAO" class="cn.edu.tongji.sse.dao.TaskDao">
		<property name="sessionFactory" ref="sessionFactory" />
			
	</bean>


</beans>